{% extends "base.html" %}
{% block content %}

    {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']]) }}
    {{ macros.m_row_start('5') }}
    {{ macros.m_row_end() }}

    <nav>
        {{ macros.m_tab_head_start() }}
        {{ macros.m_tab_head2('normal_tab', '일반', true) }}
        {{ macros.m_tab_head2('action_tab', '기타', false) }}
        {{ macros.m_tab_head_end() }}
    </nav>

    <div class="tab-content" id="nav-tabContent">
        {{ macros.m_tab_content_start('normal_tab', true) }}
        <form id="setting">
            {{ macros.setting_checkbox('auto_start', '시작 시 자동실행', value=arg['auto_start'], desc='On: 시작 시 자동으로 스케줄러에 등록됩니다.') }}
            {{ macros.setting_input_text('default_save_path', '기본 저장 폴더', value=arg['default_save_path'], placeholder='저장 폴더 경로', desc='템플릿 규칙 사용 불가. 폴더명에 템플릿 규칙을 사용하려면 저장 폴더엔 상위 폴더 경로를 지정하고 파일명에 하위 경로를 추가해주세요.') }}
        </form>
        {{ macros.m_tab_content_end() }}

        {{ macros.m_tab_content_start('action_tab', false) }}
        {{ macros.setting_button([['global_one_execute_btn', '1회 실행']], left='1회 실행') }}
        {{ macros.m_tab_content_end() }}
    </div>

    <script>
        "use strict";
        const package_name = '{{ arg["package_name"] }}';
    </script>

{% endblock %}
